@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  width: 100%;
  background: rgb(15, 213, 63);
  background: linear-gradient(0deg, rgb(15, 213, 63) 50%, rgba(0, 0, 0, 0) 100%);
  margin-top: 50px;
}

footer > div {
  width: 90%;
  margin: auto;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

footer h4 {
  padding-bottom: 15px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-left: 0;
}

footer li {
  width: 15%;
}

footer div div {
  width: 30%;
}
footer div div img {
  width: 100%;
}

footer a {
  display: block;
  background-color: rgb(128, 209, 7);
  font-family: "bildad";
  color: white;
  text-align: center;
  border-radius: 10px;
  transition: all 1s ease;
  text-decoration: none;
  padding-top: 5px;
  width: 70%;
  text-decoration: none;
}
footer a:hover {
  background-color: black;
  color: rgb(128, 209, 7);
  border: solid 1px rgb(128, 209, 7);
}

h4 {
  font-family: "bildad";
}

footer div div:first-of-type {
  width: 15%;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

main > section:last-of-type {
  width: 90%;
  margin: auto;
  color: white;
}

#pass h2 {
  font-family: "diablo";
  text-align: center;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
}

.grid {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.grid img {
  width: 100%;
}
.grid img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.parent {
  position: relative;
  overflow: hidden;
}
.parent:hover .enfant {
  transition: all 0.8s ease;
  top: 0;
  left: 0;
  transform: translateY(0%);
  background-color: rgb(55, 189, 14);
  opacity: 0.8;
  padding-top: 50%;
  font-size: 50px;
}
.parent:hover .enfant2 {
  transition: all 0.8s ease;
  top: 0;
  left: 0;
  transform: translateY(0%);
  background-color: rgb(55, 189, 14);
  opacity: 0.8;
  padding-top: 25%;
  font-size: 55px;
}

.grid span:last-of-type {
  border-top: 2px solid white;
  padding-top: 5px;
}

.grid span:first-of-type {
  display: block;
}

.enfant, .enfant2 {
  position: absolute;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "bildad";
}

.pack > div:last-of-type {
  margin-top: 20px;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-family: "diablo";
  font-size: 30px;
  color: white;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#gameplay > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  color: white;
}
#gameplay > div iframe {
  width: 100%;
}

#gameplay article:first-of-type {
  width: 45%;
}

#gameplay article:last-of-type {
  width: 50%;
}

#gameplay h3 {
  font-family: "diablo-light";
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 15px;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.pub {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 50px;
}
.pub img {
  width: 100%;
}
.pub a {
  width: 30%;
  padding-top: 15px;
  display: block;
  background-color: rgb(128, 209, 7);
  font-family: "bildad";
  color: white;
  text-align: center;
  border-radius: 10px;
  transition: all 1s ease;
  text-decoration: none;
}
.pub a:hover {
  background-color: black;
  color: rgb(128, 209, 7);
  border: solid 1px rgb(128, 209, 7);
}
.pub div {
  width: 5%;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

main > section:first-of-type {
  background-image: url(../img/Copie\ de\ DIV_VesselOfHatred_AshearaTheCanine.png);
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 90%;
  margin: auto;
  color: white;
}

.container h2 {
  text-align: start;
  padding-top: 0;
  margin-top: 0;
}
.container h3 {
  font-family: "diablo-light";
  color: white;
  color: rgb(11, 155, 11);
  text-align: start;
  font-size: 2rem;
}
.container p {
  padding-top: 5%;
  width: 40%;
}

main > section:nth-of-type(3) {
  background-image: url(../img/DIV_VesselOfHatred_Mercenaries.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main > section:nth-of-type(3) h3 {
  padding-top: 10%;
}

main > section:nth-of-type(3) p {
  margin-top: 15px;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#sacresprit {
  background-image: url(../img/squareSpiritBorn.png);
  height: 100vh;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}

#sacresprit > div {
  display: flex;
  flex-direction: column;
}
#sacresprit > div h2 {
  text-align: right;
  padding-right: 15%;
}
#sacresprit > div h4 {
  transition: all 0.8s ease;
}
#sacresprit > div p {
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  padding-top: 0;
  margin-top: 0;
  font-size: 10px;
}

ul {
  margin-left: 50%;
}

#sacresprit > div li {
  display: flex;
  align-items: center;
  padding-left: 15%;
  margin-top: 10px;
  transition: all 1s ease;
}
#sacresprit > div li img {
  width: 100%;
}
#sacresprit > div li:hover {
  transform: scale(1.3);
}
#sacresprit > div li:hover p {
  transition: all 0.8s ease;
  transform: translateY(-100%);
  opacity: 1;
}
#sacresprit > div li:hover h4 {
  transition: all 0.8s ease;
  transform: translateY(-200%);
}
#sacresprit > div li div:first-of-type {
  margin-right: 3%;
  width: 20%;
}

body {
  background-color: black;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#burger {
  list-style: none;
  width: 4%;
  position: absolute;
  top: 5%;
  right: 10%;
}
#burger li {
  height: 3px;
  margin-top: 15px;
  border-radius: 50px;
  width: 90%;
  background-color: white;
}
#burger:hover li:nth-of-type(1) {
  transition: all 0.8s ease;
  transform: translate(0, 18px) rotate(45deg);
}
#burger:hover li:nth-of-type(2) {
  opacity: 0;
}
#burger:hover li:nth-of-type(3) {
  transition: all 0.8s ease;
  transform: translate(0, -18px) rotate(-45deg);
}
#burger:hover header nav {
  display: block;
}
#burger:hover + nav {
  transition: all 1.2s ease;
  left: 40%;
  opacity: 1;
}

@font-face {
  font-family: "bildad";
  src: url(../font/Bildad.ttf);
}
@font-face {
  font-family: "diablo";
  src: url(../font/diablo.ttf);
}
@font-face {
  font-family: "diablo-light";
  src: url(../font/Diablo\ Light.ttf);
}
h2 {
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

header {
  background-image: url(../img/Spiritborn_Keyart_1920x1080.png);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
}

#logo {
  width: 30%;
  position: absolute;
  top: 35%;
  left: 5%;
}
#logo img {
  width: 100%;
}

header ul:nth-of-type(2) {
  padding: 0;
  margin: 0;
}

header nav {
  width: 50%;
  position: absolute;
  opacity: 0;
  transition: all 0.8s ease;
  top: 20%;
  left: 50%;
}

header nav ul {
  list-style: none;
}
header nav ul li {
  padding: 10px;
}
header nav ul li:nth-of-type(5) {
  width: 80%;
}
header nav ul li:nth-of-type(5) ul {
  display: flex;
  align-items: center;
  list-style: none;
  border-top: solid 1px white;
}
header nav ul li:nth-of-type(5) ul img {
  width: 100%;
}
header nav ul li:nth-of-type(5) ul li {
  width: 33%;
}

header a {
  font-family: "diablo-light";
  color: white;
  text-decoration: none;
  font-size: 30px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */